.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 16px;
}

.scoreBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.icon {
	padding: 8px;
}

.score {
	padding: 8px;
}

.correct {
	color: rgb(0, 100, 0);
}

.incorrect {
	color: rgb(190, 0, 0);
}
